@(adminForm: Form[AdminData], franchises: List[Franchise])(implicit messages: Messages)

@import helper._

@main {

<div class="row top-buffer">
  <div class="col-md-8 col-md-offset-2 well">
    @form(action = routes.Application.adminPost()) {
      <button type="submit" class="btn btn-success">Update</button>
      <div class="form-group">
        @input(adminForm("advancers"), '_showConstraints -> false, '_label -> "Number of Advancing Teams") { (id, name, value, args) =>
          <input class="form-control" min="0" max="100" type="number" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
        }
      </div>

      @myInputCheckboxGroup(adminForm("teamId"), options = franchises.sortBy(_.name).map(f => f.id -> f.name), '_label -> "Teams")

      <button type="submit" class="btn btn-success">Update</button>
    }
  </div>
</div>  

}
