@(liveResults: Seq[LiveResultRow], overviewStats: OverviewStats, advancerCount: Int)

@main {

<div class="row top-buffer well">
    <div class="col-sm-4">
        <ul class="list-unstyled">
            <li>Number of Teams Advancing: @advancerCount</li>
            <li>Projected Cut Line: @overviewStats.projectedCut</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul class="list-unstyled">
            <li>Projected Last In:
                <ul>
                    @for(team <- overviewStats.lastIn) {
                        <li>@team</li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul class="list-unstyled">
            <li>Projected First Out:
                <ul>
                    @for(team <- overviewStats.firstOut) {
                        <li>@team</li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Score</th>
      <th>Game Seconds Remaining</th>
      <th>Players Yet To Play</th>
      <th>Players Currently Playing</th>
      <th>Projected Score</th>
      <th>Projected To Advance</th>
    </tr>
  </thead>
  <tbody>  
  @for((liveScore, idx) <- liveResults.sortBy(- _.score).zipWithIndex) {
    @if(idx < advancerCount) {
      <tr class="success">
    } else {
      <tr class="danger">
    }
      <td>@liveScore.name</td>
      <td>@("%.2f".format(liveScore.score))</td>
      <td>@liveScore.gameSecondsRemaining</td>
      <td>@liveScore.playersYetToPlay</td>
      <td>@liveScore.playersCurrentlyPlaying</td>
      <td>@("%.2f".format(liveScore.projectedScore))</td>
    @if(liveScore.projectedToAdvance) {
      <td>Yes</td>
    } else {
      <td>No</td>
    }

    </tr>
  }
  </tbody>
</table>

}