@(liveScores: Seq[LiveScoreForDisplay], advancerCount: Int)

@main {

<table class="table">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Score</th>
      <th>Game Seconds Remaining</th>
      <th>Players Yet To Play</th>
      <th>Players Currently Playing</th>
    </tr>
  </thead>
  <tbody>  
  @for((liveScore, idx) <- liveScores.sortBy(- _.score).zipWithIndex) {
    @if(idx < advancerCount) {
      <tr class="success">
    } else {
      <tr class="danger">
    }
      <td>@liveScore.name</td>
      <td>@("%.2f".format(liveScore.score))</td>
      <td>@liveScore.gameSecondsRemaining</td>
      <td>@liveScore.playersYetToPlay</td>
      <td>@liveScore.playersCurrentlyPlaying</td>
    </tr>
  }
  </tbody>
</table>

}