@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>RDFL Playoffs</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
        <meta name=viewport content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            @content
        </div>
    </body>
</html>
